.board {
  display: flex;
  flex-flow: column nowrap;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.validation-errors-display {
  text-align: center;
  margin-bottom: 0.5em;
}

.validation-errors-display__list {
  list-style-type: none;
  padding: 0;
}
